/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');



html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Alegreya", sans-serif;
}